.maindiv{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    max-width: 100dvw;   
    max-height: 100dvh;
    width: 100dvw;  
    height: 100dvh;

    background-color: rgb(20, 20, 20);
}

.inputdiv{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 80%;
    height: 4rem;

    /* background-color: blueviolet; */

    flex-direction: row;   
    /* max-height: 10%; */
    height: 10%;
    max-width: 600px;

    overflow-x: hidden;
}

.inputnum{
    /* width: 80%; */
    height: 4rem;

    border-radius: 1rem;
    background-color: rgb(27, 27, 27);
    color: white;

    border: none;
    outline: none;

    flex: 1;
    min-width: 0px;
    font-size: 2.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.inputbutton{

    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left:2rem;
    color: white;
    background-color: blueviolet;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;

    border-radius: 1rem;

    font-size: 2rem;
    font-weight: bold;

    cursor: pointer;
}

.chatdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    max-height: 90%;
    padding: 2rem;
    max-width: 90%;
    width: 90%;
    /* overflow: scroll; */
}

.messagelist{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    flex: 1;
    overflow-y: scroll;
    margin-bottom: 2rem;
    width: 100%;
    outline: none;

    z-index: 1;

    scrollbar-width: none;
} 

.individualmsg{
    display: flex;
    align-items: flex-start;
    color: white;
    width: 100%;
    /* margin: 1rem; */
    margin-bottom: 1rem;

    /* overflow-x: hidden; */
}

.mine{
    /* align-items: left; */
    justify-content: right;
}

.yours{
    /* align-items: right; */
    justify-content: left;
}


.individualmsgcontent{
    width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    font-size: clamp(2rem, 1vw, 2rem);
    background-color: rgb(0, 107, 107);
    max-width: 50vw;
    word-wrap: break-word;

    animation: slideup forwards 400ms;

    /* transform: translateX(5rem); */

}

.private{
    color: var(--priv);
    transition: color;
    transition-duration: 1s;
}

.private:active{
    color: white;
    transition-duration: 0ms;

}

.minetext{
    background-color: blue;
}

.yourstext{
    background-color: black;
}

.sendmessageinput{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
    overflow-x: hidden;

    
}

.sendmessage{
    flex: 1;
    min-width: 0px;
    /* width: 80%; */
    height: 4rem;
    font-size: 2.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    border-radius: 1rem;
    background-color: rgb(27, 27, 27);
    outline: none;
    border: none;


    color: white;
}

.sendmessagebutton{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left:2rem;
    color: white;
    background-color: blueviolet;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;

    font-size: 2rem;
    font-weight: bold;

    border-radius: 1rem;

    cursor: pointer;
}


@keyframes slideup {
    0%{
        opacity: 0%;
        transform: scale(0%) translateX(10rem);
        animation-timing-function: ease-in-out;
    }
    60%{
        opacity: 100%;
        transform: scale(120%) translateX(0rem);
        animation-timing-function: ease-in-out;
    }
    100%{
        transform: scale(100%) translateX(0rem);
    }
}

.disproomcodediv{

    /* background-color: brown; */

    flex-direction: column;

    opacity: 0.2;
    position: fixed;
    height: 100%;
    width: 80%;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events:none;

    z-index: 0;
}

.disproomcode{
    font-size: 20vw;
}